doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/css/dashboard.css")
  body
    .card
      h1 Congratulations!
      p You have successfully signed into the Refactory system. Feel at home.