doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Signup Form
  link(rel='stylesheet' href='/css/signup.css')
.signup-container
  h1 Signup
  #successMessage.success-message
    | Account created successfully!
    a(href='/') Login
    button.close-btn(onclick='closeMessage()') X
  form#signupForm( action="/signup" method="post" novalidate='')
    .form-group
      input#fullName(type='text' placeholder='Full Name' name='fullName' required='')
    .form-group
      input#email(type='email' placeholder='Email' name='email' required='')
    .form-group
      input#phone(type='tel' placeholder='Phone Number' name='phoneNumber' required='')
    .form-group
      input#password(type='password' placeholder='Password' name='password' required='')
    .form-group
      input#confirmPassword(type='password' placeholder='Confirm Password' name='confirmPassword' required='')
    button.signup-btn(type='submit') SIGNUP
  .login-link
    | Have an account? - 
    a(href='#') Login
script(src='/js/signup.js')
